:root{
    --repoBoxSize: 200px;
}

/* Considera borda como o tamanho real da caixa */
*{
    box-sizing: border-box;
}

/* Estilizações simples */
body{
    background-color: #282828;
    background-image: url('img/bg-image.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
    margin: 2%;
    margin-top: 90px;
    font-family: monospace;
    font-size: 18px;
    font-weight: lighter;
}

/* Inicio estilos do Menu */
.Menu{
    background-color: #171717;
    width: 100%;
    /* Configurações para manter este elemento fixo na tela: */
    position: fixed; 
    top: 0;
    left: 0;
}

.Menu ul{
    list-style-type: none;
    padding: 0;
    display: flex;
}

.Menu li{
    padding-left: 10px;
}

.Menu a{
    display:block
}

.Menu img{
    vertical-align: middle;
    margin-bottom: 6px;
}

.Menu span{
    display: inline-block;
    vertical-align: middle;
}

a{
    color:#34C700;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #8dff64;
}
/* fim estilos do Menu */

/* Inicio estilos do formação */
.LeftMain{
    float: left;
    padding: 15px;
    width: 75%;
}

/* estilização adequada para exibir o primeiro conteúdo */
.Presentation{
    height: 90vh
}

#myName{
    font-size: 32px;
    font-weight: lighter;
    color: #34C700;
    font-weight: lighter;
}

/* define a região onde se encontram os links úteis dentro da pagina */
.Util{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    border: 1px;
}

/* estilização do <a> */
.Util a{
    display:block;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #34C700;
    border-radius: 25px;
    margin-right: 15px; 
    margin-bottom: 15px;
}

/* Alinhamento dos pequenos icones ao lado dos textos dos links */
.Util img{
    vertical-align: middle;
}

.Util span{
    display: inline-block;
    vertical-align: middle;
}


#aboutMe,
#aboutEducation{
    height: 100vh
}

#aboutEducation ul{
    list-style-type:circle;
}

#aboutEducation li{
    padding-bottom: 12px;
}

#gitHubSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* estilização da sessão gitHub */
.Repositories{
    background-color: #353535;
    display: flex;
    height: var(--repoBoxSize);
    text-align: left;
    border-radius: 25px;
}

.Repositories img{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: var(--repoBoxSize);
}

.RepositoryDescription{
    color: white;
    margin: 8px;
    display: block;
}

.RepositoryTitle{
    font-weight: bold;
    margin-top: 1%;
    color: #34C700;
}

/* estilos da <div> direita */
.RightSide{
    position: fixed;
    right: 0;
    float: left;
    text-align: left;
    font-size: medium;
    padding: 20px;
    width: 25%;
    line-height: 20px;
}

.RightSide a{
    color: white;
    text-decoration: underline;
}

.RightSide a:hover{
    color: #8dff64;
    text-decoration: underline;
}

.RightSide ul{
    list-style-type: none;
}

/* formatações do formulario */
form {
    background-color: #353535;
    padding: 20px;
    border-radius: 25px;
}

label {
    color: #34C700;
    display: block;
    margin-bottom: 3px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #34C700;
    background-color: #282828;
    color: white;
    border-radius: 25px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #34C700;
}

/* Apenas reduz as fontes para caber na lagura de tela */
@media only screen and (max-width: 1465px){
    .RepositoryDescriptionText{
        font-size: 14px;
    }
    .Util{
        font-size: 14px;
    }

}

/* Altera a posição da <div> RightSide e modifica a estilização dos repositorios */
@media only screen and (max-width: 1200px){
    .LeftMain{
        width: 100%;
    }    

    .RightSide{
        position:relative
    }
    #gitHubSection{
        font-size: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .Repositories{
        background-color: #353535;
        display: flex;
        height: 100px;
        text-align: left;
        border-radius: 25px;
    }

    .Repositories img{
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        width: 100px;
    }

    .RepositoryDescription{
        font-size: medium;
    }

    .RepositoryDescriptionText{
        font-size: small;
    }

    .RightSide{
        width: 100%;
    }
}

/* Altera os links úteis */
@media only screen and (max-width: 860px){
    .Util{
        display: block;
    }

    .Util a{
        text-align: center;
        margin-bottom: 15px;
        margin-right: 0px; 
    }

    .Util img{
        size: 12px
    }
}

/* reduz o tamanho da letra da descrição dos repositórios */
@media only screen and (max-width: 768px){
    .RepositoryDescriptionText{
        font-size: 9px;
    }
}

